header {
    text-align: center;
}

body {
    background-color: #fff0fa;
    font-family: sans-serif
}

footer {
    text-align: center;
}

#title {
    color: #cc0000;
    font-family: 'Permanent Marker', cursive;
    font-size: 96px;
    margin: auto;
}

#image {
    width: 75vw;
    display: block;
    margin: auto;
    max-width: 420px;
}
